<h2 class="header center">Editer {{singlePokemon?.name}}</h2>
<p class="center">
  <img *ngif="singlePokemon" [src]="singlePokemon.picture"/>
</p>
<app-pokemon-form [pokemon]="singlePokemon"></app-pokemon-form>
